<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lecture">
	<!-- <select id="listAll" parameterType="map" resultType="lectureVO">
		select lecture_title, lecture_main_image, lecture_lecturer_introduction
		from tbl_lecture
		order by lecture_number desc
		limit #{startRow}, #{rowCount}
	</select> -->

	<insert id="insert" parameterType="lectureVO">
		insert into tbl_lecture (lecture_title, lecture_main_image, lecture_introduction_image, 
			lecture_lecturer_image, lecture_lecturer_introduction, lecture_category, lecture_content, lecture_date, 
			lecture_signup_start_date, lecture_signup_end_date, lecture_location, lecture_limit_number)
		values(#{lectureTitle}, #{lectureMainImage}, #{lectureIntroductionImage}, 
			#{lectureLecturerImage}, #{lectureLecturerIntroduction}, #{lectureCategory}, #{lectureContent}, #{lectureDate}, 
			#{lectureSignupStartDate}, #{lectureSignupEndDate}, #{lectureLocation}, #{lectureLimitNumber})
	</insert>
</mapper>