@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard",Helvetica,Arial,sans-serif;
  border: 0 solid #e3e3e3;
}

a {
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

img {
  border: none;
  display: inline;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ul{
  list-style: none;
}

body{
  width: 100%;
  height: 100%;
  position: relative;
}

#sidebar{
  display:none;
  z-index: 1100;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  /* right: -100%; */
  z-index: 1002;
  width: 320px;
  max-width: 90%;
} /*애니메이션 효과 넣기*/

.sidebar-bg{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  top: 0;
  display: none;
  z-index: 1001;
}

.sidebar-inner {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1100;
}

.sidebar-wrapper {
  padding-bottom: 57px;
  position: relative;
  min-height: 100%;
  z-index: 1100;
  background-color: #fff;
}

.sidebar-header {
  color: #fff;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  justify-content: left;
  align-items: center;
  display: flex;
  background-color: #0206af;
  height: 60px;
}

.sidebar-close{
  display: flex;
  margin-right: 9rem;
}

.sidebar-close img{
  width: 15px;
  height: 15px;
}

.sidebar-home{
  padding-bottom: 0.25rem;
  font-size: 1rem;
}

.sidebar-home:link { color: #fff !important; text-decoration: none !important;}

.sidebar-home:visited { color: #fff !important; text-decoration: none !important;}

.sidebar-home:hover { color: #fff !important; text-decoration: none !important;}

.sidebar-notice {
  justify-content: center;
  align-items: center;
  display: flex;
}

.sidebar-notice img {
  width: 18px;
  height: 18px;
}

.sidebar-user{
  padding: 1.25rem;
}

.user-content {
  align-items: center;
  display: flex;
  justify-content: left;
}

.profile-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
}

.profile-login {
  margin-left: 2rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.profile-login >img {
  width: 18px;
  height: 18px;
  margin-top: 1px;
}

.sidebar-main {
	height: 50px;
	justify-content: space-around;
	align-items: center;
	display: flex;
}

.sidebar-main a {
  color: #666;
  text-align: center;
}

.sidebar-menu a {
  border-width: 1px;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-color: #eee;
  padding: 1rem 1.25rem;
  display: block;
  color: #333;
  font-weight: 500;
}

.sidebar-login {
  top: auto;
  text-align: center;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f5f5f5;
}